*{
    box-sizing: border-box;
}
@font-face {
    font-family: Cinzel Decorative;
    src: url("/CinzelDecorative-Black.otf");
}
.thenav{
    box-shadow: 20px 2px 20px gray;
    min-height: 100px;
    height: 100px;
}
#rashads-hold{
    font-family: Cinzel Decorative;
    font-size: 30px;
    margin: 90px 15px;
}
#rashads-name:hover{
    background-color: rgba(0, 157, 255, 0.911);
    padding: 10px;
    border-radius: 8px;
    transition: 0.8s;
}
.sidenav-comp:hover{
    text-shadow: 2px 2px 10px rgb(0, 42, 255);
}
.todo-list-icon{
    width: 90%;
    max-width: 700px;
    margin:50px auto 0px auto;
    mix-blend-mode:color-burn;
}
.main-title{
    font-family: Georgia, Times, 'Times New Roman', serif;
    animation-name: rise;
    animation-duration: 2.5s;
    animation-delay: 1s;
    transition: ease;
    color: black;
    text-shadow: 1px 1px 100px rgb(50, 50, 50);
    margin: 0px 10px;
}
@keyframes rise {
    0%{
        transform: scale(0.9);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}
.list-display{
    display: block;
    text-align: start;
    max-width: 700px;
    margin: 30px auto;
    padding-left: 60px;
    padding-right: 30px;
}
.list-display li{
    margin-left: 15px;
    font-size: large;
    cursor: pointer;
    counter-increment: li
}
.list-display li::before{
    content: counter(li);
    color: #0b98ef;
    margin-right: 10px;
    font-weight: bold;
}
.list-display li:hover{
    background-color: rgba(128, 128, 128, 0.144);
    transition: 0.5s;
    width: fit-content;
    border-radius: 5px;
    margin-left: 5px;
    padding: 0px 5px;
}
.buttons-part{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 200px;
    margin:20px auto;
}
.not-found{
    font-weight: 500;
    margin-left: 15px;
}
.prev-list{
    margin-bottom: 10px;
    font-weight: 700;
    text-decoration: underline 3px #f4e500;
    font-family: Georgia, Times, 'Times New Roman', serif;
}
.new-list{
    font-weight: 700;
    margin: 20px 0px 10px 0px;
    text-decoration: underline #f4e500 3px;
    font-family: Georgia, Times, 'Times New Roman', serif;
}
span{
    font-family: cinzel decorative;
    color: #0b98ef;
}
.comp-used{
    box-shadow: 1px 1px 9000px white;
    border: none;
}
.input-holldder{
    width: 90%;
    margin: 0px auto;
    justify-self: center;
}
input{
    width: 100%;
}
